<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../static/iconsandimages/icons/favicon.ico">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="../static/javascript/playerDB.js"></script>
    <title>PlayerDB</title>
</head>

<body>
    <!-- Navigation bar -->
    <div class="flexbox-container1">
        <!-- Title -->
        <div class="flexbox-item1 title">
            <a class="page-title" href="/"><img class="soccer-player"
                    src="../static/iconsandimages/icons/soccer-player.png" alt="soccerPlayer img"> PlayerDB</a>
        </div>
        <!-- Navigation options -->
        <div class="flexbox-item1 pages">
            <a href="/">Home</a>
        </div>
        <div class="flexbox-item1 pages dropdown">
            League
            <div class="dropdown-content">
                <a href="/premierleague">Premier League</a>
            </div>
        </div>
        <div class="flexbox-item1 pages">
            <a href="/stats">Stats</a>
        </div>
        <div class="flexbox-item1 pages">
            <a href="/aboutus">About Us</a>
        </div>
        <div class="flexbox-item1 pages" id="base-login">
            <a href="/account">Login</a>
        </div>
        <div class="flexbox-item1 pages" id="base-logout" style="display: none;">
            <a href="/logout">Logout</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
    <div class="footer">
        <div class="footer-content">
            <a class="footer-page-title" href="/">PlayerDB</a>
            <p class="tagline">~Redifining Scouting~</p>
            <div class="social-media">
                <a href="https://www.linkedin.com/" target="_blank" class="footer-icon"><img
                        src="../static/iconsandimages/icons/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/" target="_blank" class="footer-icon"><img
                        src="../static/iconsandimages/icons/instagram.png" alt="instagram"></a>
                <a href="https://www.twitter.com/" target="_blank" class="footer-icon"><img
                        src="../static/iconsandimages/icons/twitter.png" alt="twitter"></a>
            </div>
            <div>
                <p class="copyright"><img src="../static/iconsandimages/icons/copyright.png" alt=""> 2022 PlayerDB Inc.
                </p>
            </div>
        </div>
    </div>
</body>

</html>