{% extends "base.html"%}
{%block content%}

<input type="hidden" id="account-name" value="{{ message }}">
<script>
    window.onload = myFunction;
    function myFunction() {
        let user = document.getElementById("account-name").value;
        if (user == null || user == "") {
            document.getElementById("base-login").style.display = "block";
            document.getElementById("base-logout").style.display = "none";
        } else {
            document.getElementById("base-login").style.display = "none";
            document.getElementById("base-logout").style.display = "block";
        }
    }
</script>
<div class="form-section">
    <h3>Edit Player Details</h3>

    <form action="/playerSearch" id="search-form" method="post">
        <div class="search-bar">
            <div class="search-err">
                <input type="text" name="searchname" id="search" placeholder="search for a player">
                <div class="error" id="demo1"></div>
            </div>

            <div class="buttons">
                <!-- <input type="submit" value="submit" class="btn" > -->
                <a class="btn search-button">Search</a>
            </div>
        </div>
    </form>
</div>

{%endblock%}